<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540925001388-pte0s64dlp9ftb3k800e55n50sh9h1o3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540925001388-pte0s64dlp9ftb3k800e55n50sh9h1o3</string>
	<key>API_KEY</key>
	<string>AIzaSyDDqBCQXNoiQexMUHGRNqZq6QdiCuFOzho</string>
	<key>GCM_SENDER_ID</key>
	<string>540925001388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluttertest.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-app-flutter-vp-ae80d</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-app-flutter-vp-ae80d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540925001388:ios:0c05a9655a8975dfeee909</string>
</dict>
</plist>